language: python
python:
  - "2.7"
branches:
  only:
    - master
virtualenv:
  system_site_packages: true
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq python-numpy python-scipy
install:
  - pip install python-coveralls
  - pip install nose
  - pip install coverage
  - export PYTHONPATH=$PYTHONPATH:.
script:
  - nosetests --with-coverage
after_success:
  - coveralls